<table *ngIf="model != null" class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let column of model.columns">
        <a (click)="onClick_SortColumn(column)">
          {{ column.name }}
          <i *ngIf="column.sort && !column.sort.direction" class="fa fa-sort"></i>
          <i *ngIf="column.sort && column.sort.direction && column.sort.direction == 'ASC'" class="fa fa-sort-asc"></i>
          <i *ngIf="column.sort && column.sort.direction && column.sort.direction == 'DSC'" class="fa fa-sort-desc"></i>
        </a>
        <a (click)="onClick_FilterColumn(column)" class="pull-right">
          <i *ngIf="column.filter" class="fa fa-filter"></i>
        </a>
        <span *ngIf="column.filter && column.filter.type == 'checkbox' && column.filter.isOpen">
          <br />
          <span *ngFor="let checkboxValue of column.filter.checkboxValues">
            <input [checked]="checkboxValue.selected" (change)="onClick_FilterColumnCheckbox(column, checkboxValue)" type="checkbox"
            /> {{ checkboxValue.name }}
            <br />
          </span>
        </span>
        <span *ngIf="column.filter && column.filter.type == 'text' && column.filter.isOpen">
          <br />
          <span>
            <input [(ngModel)]="column.filter.value" type="text" class="form-control" placeholder="Search" />
          </span>
        </span>
        <span *ngIf="column.filter && column.filter.type == 'numeric' && column.filter.isOpen">
          <br />
          <span>
            <select [(ngModel)]="column.filter.operator" class="form-control">
              <option [ngValue]="'equal'">Equal</option>
              <option [ngValue]="'not-equal'">Not equal</option>
              <option [ngValue]="'greater'">Greater then</option>
              <option [ngValue]="'greater-equal'">Greater or equal than</option>
              <option [ngValue]="'less'">Less then</option>
              <option [ngValue]="'less-equal'">Less or equal than</option>
            </select>
            <input [(ngModel)]="column.filter.value" type="number" class="form-control" placeholder="Value" />
          </span>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of model.data">
      <th *ngFor="let column of model.columns">
        {{ item[column.accessor] }}
      </th>
    </tr>
  </tbody>
</table>
<ul *ngIf="pages != null" class="pagination pagination-lg pull-right">
  <li class="{{ currentPage <= 1? 'disabled' : '' }}">
    <a (click)="onClick_PreviousPage()">Prev</a>
  </li>
  <li *ngFor="let page of pages" class="{{ page == currentPage? 'active' : '' }}">
    <a (click)="onClick_PageNumber(page)">{{ page }}</a>
  </li>
  <li class="{{ this.currentPage >= this.pages[this.pages.length - 1]? 'disabled' : '' }}">
    <a (click)="onClick_NextPage()">Next</a>
  </li>
</ul>